<!DOCTYPE html>
<html>
  <head>
    <title>{{label}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h1>{{label}}</h1>
        {{#page_config.can_change}}
        <a href="{{rt}}/surgeons/{{id}}/edit" data-icon="edit" data-transition="flip">
          Edit
        </a>
        {{/page_config.can_change}}
      </div>
      <div role="main" class="ui-content">
          <h1>{{label}}</h1>
          <table>
            <tr>
              <th>First Name</th>
              <td>{{first_name}}</td>
            </tr>
            <tr>
              <th>Last Name</th>
              <td>{{last_name}}</td>
            </tr>
            <tr>
              <th>CRM</th>
              <td>{{CRM}}</td>
            </tr>
          </table>
      </div>
    </div>
  </body>
</html>
