<!DOCTYPE html>
<html>
  <head>
    <title>{{^id}}Add{{/id}}{{#id}}Edit{{/id}} surgery</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h1>{{^id}}Add{{/id}}{{#id}}Edit{{/id}} surgery</h1>
        {{#id}}
        {{#page_config.can_delete}}
        <form action="{{svc}}/Surgeries/{{id}}" method="post" data-ajax="false"
          data-wq-json="true" data-wq-background-sync="false"
          onsubmit="return require('wq/app').confirmSubmit(this, 'Are you sure you want to delete this record?');">
          {{>csrf}}
          <input type=hidden name="_method" value="DELETE">
          <button type="submit" data-icon="delete" class="ui-btn-right">
            Delete
          </button>
        </form>
        {{/page_config.can_delete}}
        {{/id}}
      </div>
      <div role="main" class="ui-content">
        <form action="{{svc}}/Surgeries/{{id}}" method="post" data-ajax="false"
            data-wq-json="true"
            {{#outbox_id}}
              data-wq-outbox-id="{{outbox_id}}"
              data-wq-outbox-preserve=""
            {{/outbox_id}}>
          {{>csrf}}
          {{#id}}
          <input type=hidden name="_method" value="PUT">
          {{/id}}
          <ul data-role="listview" data-inset="true">
            <li class="ui-field-contain">
              <label for='surgery-surgery_type'>Surgery Type</label>
              <input id='surgery-surgery_type' type='text' data-xform-type='string' name='surgery_type' required value="{{surgery_type}}">
              <p class='error surgery-surgery_type-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='surgery-date'>Date of Surgery</label>
              <input id='surgery-date' type='date' data-xform-type='date' name='date' required value="{{date}}">
              <p class='error surgery-date-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='surgery-patient_id'>Patient</label>
              <select id='surgery-patient_id' data-xform-type='string' name='patient_id' required>
                <option value="">Select one...</option>
                {{#patient_list}}
                <option value="{{id}}"{{#selected}} selected{{/selected}}>
                 {{#outbox}}*{{/outbox}} {{label}}
                </option>
                {{/patient_list}}
              </select>
              <p class='error surgery-patient_id-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='surgery-patient_in'>Patient entered the operating room</label>
              <input id='surgery-patient_in' type='time' data-xform-type='time' name='patient_in' required value="{{patient_in}}">
              <p class='error surgery-patient_in-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='surgery-patient_out'>Patient left the operating room</label>
              <input id='surgery-patient_out' type='time' data-xform-type='time' name='patient_out' required value="{{patient_out}}">
              <p class='error surgery-patient_out-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='surgery-anesthetic_induction'>Anesthetic Induction</label>
              <input id='surgery-anesthetic_induction' type='text' data-xform-type='string' name='anesthetic_induction' required value="{{anesthetic_induction}}">
              <p class='error surgery-anesthetic_induction-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='surgery-robotic'>Robotic</label>
              <input id='surgery-robotic' type='text' data-xform-type='select one' name='robotic' value="{{robotic}}">
              <p class='error surgery-robotic-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='surgery-incision_time'>Incision Time</label>
              <input id='surgery-incision_time' type='time' data-xform-type='time' name='incision_time' required value="{{incision_time}}">
              <p class='error surgery-incision_time-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='surgery-suture_time'>Suture Time</label>
              <input id='surgery-suture_time' type='time' data-xform-type='time' name='suture_time' required value="{{suture_time}}">
              <p class='error surgery-suture_time-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='surgery-estimated_blood_loss'>Blood loss in ml</label>
              <input id='surgery-estimated_blood_loss' type='number' data-xform-type='decimal' name='estimated_blood_loss' step='0.001' value="{{estimated_blood_loss}}">
              <p class='error surgery-estimated_blood_loss-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='surgery-transfusion'>Transfusion</label>
              <input id='surgery-transfusion' type='text' data-xform-type='select one' name='transfusion' value="{{transfusion}}">
              <p class='error surgery-transfusion-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='surgery-conversion_to_lap_open'>Conversion To Lap Open</label>
              <input id='surgery-conversion_to_lap_open' type='text' data-xform-type='select one' name='conversion_to_lap_open' value="{{conversion_to_lap_open}}">
              <p class='error surgery-conversion_to_lap_open-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='surgery-instruments_used'>Instruments Used</label>
              <textarea id='surgery-instruments_used' name='instruments_used' data-xform-type="text" required>{{instruments_used}}</textarea>
              <p class='error surgery-instruments_used-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='surgery-adverse_events'>Adverse events during surgery</label>
              <textarea id='surgery-adverse_events' name='adverse_events' data-xform-type="text" required>{{adverse_events}}</textarea>
              <p class='error surgery-adverse_events-errors'></p>
            </li>
            <li>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <a href="{{rt}}/Surgeries/{{id}}" data-role="button" data-icon="back" data-direction="reverse">
                    Back
                  </a>
                </div>
                <div class="ui-block-b">
                  <button type="submit" data-icon="check" data-theme="b">
                    Submit
                  </button>
                </div>
              </div>
              <p class="error surgery-errors"></p>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </body>
</html>
